<h1>Signup</h1>
<form [formGroup]="signUpForm" (ngSubmit)="signUp()" novalidate> 
    <div class="mb-3">
        <label for="avatar" class="form-label">Avatar</label>
        <input type="email" class="form-control" id="avatar" aria-describedby="emailHelp" formControlName="avatar">
    </div>
    <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input type="email" class="form-control" id="firstname" aria-describedby="emailHelp" formControlName="firstname">
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="email" class="form-control" id="lastname" aria-describedby="emailHelp" formControlName="lastname">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email </label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid" >Submit</button>
</form>