<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.productId.title %></h1>
                        <h2>Quantity: <%= p.quantity %></h2>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <h2>Total: <%= totalSum %></h2>
            </div>
            <div class="centered">
                <form action="/create-order" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <script
                      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_51GqP93EHZoowScctuJ2LAPmSjO3BL3FgzkCc2MBSsfX5vPww4N9D7Jj7gJhtvtrls3H8GqPTzegJcMxzlbvmpjQA00hEhIM6WH"
                      data-amount="<%= totalSum * 100 %>"
                      data-name="Your Order Of Amiibos"
                      data-description="All the toys you ordered"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-locale="auto"
                      data-currency="usd">
                    </script>
                  </form>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>