/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto,
    "Helvetica Neue", sans-serif;
    background:url('https://i.redd.it/hvlgus80utd51.png');
    
}

a {
    color: black;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
