body {
    background: lightblue;
    text-align: center;
}

#input1 {
    width: 50px;
    border: none;
    background: none;
    color: #919191;
    font-size: 30px;
    margin: 0 10px;
    pointer-events: none;
}

#input2 {
    width: 50px;
    border: none;
    background: none;
    color: #919191;
    font-size: 30px;
    margin: 0 10px;
    pointer-events: none;

}

#likeBtn {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
}

#disLikebtn {
    color: #fff;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 15px;
    margin-left: 20px;
    cursor: pointer;
}