<!-- // render different products in header -->
<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs')%>

    <%- include('../includes/end.ejs')%>
