<nav>
<div>
    <div>
        <label>
            <div>
                <a 
                routerLinkActive="active-link"
                routerLink="/"
                >
                    <span>Welcome
                    </span>
                </a> 
            </div>
            <div>
                <a 
                routerLinkActive="active-link"
                routerLink="/signin"
                >
                    <span>Login</span>
                </a> 
            </div>
            <div>
                <a 
                routerLinkActive="active-link"
                routerLink="/signup"
                >
                    <span>SignUp</span>
                </a>
            </div>
        </label>
    </div>
</div>
</nav>
