<h1>Login</h1>
<form [formGroup]="signInForm" (ngSubmit)="signIn">
    <div class="form-group">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName='email'>
        
    </div>
    <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName='password'>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="signInForm.invalid">Submit</button>
</form>
