/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: url(https://cdn.pixabay.com/photo/2020/10/08/00/38/mountains-5636541_960_720.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.main-nav {
    padding-bottom: 5rem;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    margin: 10px;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    animation-name: nav;
    animation-duration: 5s;
}

.main-nav,
a {
    text-decoration: none;
    border: solid black;
    border-radius: 100px;
    text-align: center;
    color: orange;
    padding: 10px;
    margin: 0;
}


.main-nav,
a:hover {
    display: flex;
    justify-content: space-between;
    margin: 0;
    text-decoration: none;
    color: brown;
    list-style-type: none;
    border-radius: 30px;
}

/* @keyframes nav {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%);
    }

    75% {
        transform: translate(0);
    }

    100% {
        transform: translate(0);
    }
} */

/* img + p {
    color: white;
}

img + ul{
    color:white;
}
a:hover {
    background-attachment: blue;
}

.container {
    border: 10px solid brown;
}



main {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 100px;
    box-shadow: red;
    animation-name: main;
    animation-duration: 5s;
} */

/* @keyframes main {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(50%);
    }

    75% {
        transform: translate(0);
    }

    100% {
        transform: translate(0);
    }
} */

/* .card:hover {
    border: solid brown;
    opacity: 0.7;
    background:brown;
}

.card-text {
    margin-top: 60px;
    margin-bottom: 60px;
    list-style-type: none;
    line-height: 20px;
}

.card-title{
    margin-top: 5px;
}

img {
    margin-top: 50px;
}

.footer {
    background: brown;
    height: 140px;
    margin-top: 5vh;
    opacity: 0.7;
    animation-name: foot;
    animation-duration: 5s;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */

/* @keyframes foot {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translateY(50%);
    }

    50% {
        transform: translateY(50%);
    }

    75% {
        transform: translate(0);
    }

    100% {
        transform: translate(0);
    }
} */

/* @media(max-width: 400px){
    main {
        width: 100%;
        height: 100%;
    }

    nav {
        width: 100%;
    }
    i {
        display: none;
    }
    a {
        font-size: 20%;
    }
    .card {
        width: 25%;
        height: 100%;
    }
    .card-body{
        margin: 0px;
        width: 25%;
        height: 25%;
    }

    img{
        width: 50%;
        height: 50%;
    }
} */

* {
    font-family: 'Roboto', sans-serif;
}
body {
    background: url(https://cdn.pixabay.com/photo/2020/10/08/00/38/mountains-5636541_960_720.jpg);
    background-size: cover;
    
}

.card-body {
    text-align: center;
    background: brown;
}

.card-body ul {
    list-style: none;
    padding-left: 0;
}

.main-nav {
    border: solid black;
    border-radius: 100px;
}

footer {
    text-align: center;
}
.grid{
    border-bottom: 2px solid white;
}

@media(min-width: 700px) {

    /* .grid{
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    } */
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation-name: foot;
        animation-duration: 5s;
        font-family: 'Roboto', sans-serif;

    }

    @keyframes foot {
        0% {
            transform: translate(0);
        }

        25% {
            transform: translateY(100%);
        }

        50% {
            transform: translateY(100%);
        }

        75% {
            transform: translate(0);
        }

        100% {
            transform: translate(0);
        }

    }



    main .grid {
        height: 400px;
        border-bottom: none;

    }

    .card-body {
        height: 100%;
        background: transparent;
    }

    .card-body .content-text {
        margin-top: 20px;
    }

    #card1 {
        width: 31%;
        margin: 20px;
    }

    #card2 {
        border-left: 1px solid #eeeeee;
        width: 31%;
        margin: 20px;
    }

    #card2 .card-body {
        padding: auto 20px;
    }

    #card3 {
        border-left: 1px solid #eeeeee;
        width: 31%;
        margin: 20px;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    /* .card-body .bg{
        position: relative;
        background: #333333;
        width: 100%;
        height:100%;
        z-index: -1;
        opacity: 0.4;
    } */
}